<!DOCTYPE html>
<html>
<head>
  <title>Feed</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://localhost:3000/last_post.rss") %>
</head>
<body>

<%= yield %>

</body>
</html>
